<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
</head>
<h1><center>Hello World from EJS</center></h1>
<body>
    <main>
        <h2><center>I'm Kaitlin Renfroe</center></h2>
        <h3>Enneagram Test Results:</h3>
            <p><li> I am a type one, <%= myTypeClient %>, on the Enneagram test</li>
            <li>Type one people have a good eye for detail when working in dev groups</li>
            <li>Type one people need to watch out for being too worried about making a mistake when working in dev groups</li></p> 

        <footer>
          <a href="/send">send</a> |

           <a href="https://github.com/KaitlinRenfroe/glowing-mike-snowcats" target="_blank">Source Code</a>
        </footer>
     </main>
  </body>
</html>